<div class="actualites">
    <h2 class="uk-h2"><span uk-icon="icon: calendar; ratio: 2;"></span> Actualités</h2>
    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom">
        <p class="actu">A partir du mois de février 2018&nbsp;:
        </p>
        <ul>
            <li>Séances de Méditation guidée, le lundi de 12h30 à 13h30</li>
            <li>Atelier "Equilibre Général et Gestion du Stress", le jeudi de 10h à 11h30</li>
        </ul>
        <a href="/atelier-sophrologie-groupe/index.html" class="uk-button uk-button-cta">Découvrir les ateliers de sophrologie</a>
    </div>

</div>
<div class="last-posts">
    <h2 class="uk-h2"><span uk-icon="icon: file-edit; ratio: 2;"></span> Derniers articles</h2>
    {{ range where .Data.Pages "Type" "post" }}
    <div class="last-posts__post uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom">
        {{ .Render "li" }}
    </div>
    {{ end }}
    <div class="uk-card-default uk-card-body">
        <a href="/post" class="uk-button uk-button-default">Voir tous les articles</a>
    </div>
</div>

