<footer class="g-footer">
    <div class="uk-container uk-container-medium uk-section-primary">
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
            <div>
                <h2 class="uk-h3 uk-text-center">Plan du site</h2>
                <nav>
                    <ul class="uk-list">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/sophrologie">La sophrologie</a></li>
                        <li><a href="/sophrologie-pratique">Sophrologie en pratique</a></li>
                        <li><a href="/indications-sophrologie">Indications en sophrologie</a></li>
                        <li><a href="/accompagner-la-maladie">Accompagner la maladie</a></li>
                        <li><a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a></li>
                        <li><a href="/tarifs-sophrologue">Tarifs</a></li>
                        <li><a href="/sophrologie-entreprises-collectivites">Sophrologie entreprises & collectivités</a>
                        </li>
                        <li><a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises &
                            collectivités</a></li>
                        <li><a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a></li>
                        <li><a href="/contact">Me contacter</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h2 class="uk-h3">Sophie Loosveldt, sophrologue</h2>
            </div>
            <div>
                <h2 class="uk-h3">Informations utiles</h2>

            </div>
        </div>
    </div>
    <div class="g-footer-sponsors uk-text-center uk-background-default">
        <img src="/img/sponsors.png" alt="">
    </div>
    <div class="g-footer-copy">
        <p>Tous droits réservés, Sophie Loosveldt</p>
        <p><a href="/mentions-legales">Mentions légales</a></p>
    </div>
    <a href="#" uk-totop uk-scroll class="to-top"></a>
</footer>

{{ partial "svg" . }}
<script src="/js/uikit.js"></script>
<script src="/js/uikit-icons.js"></script>
<script src="/app.js"></script>
</body>
</html>
