<footer class="g-footer">
    <div class="uk-container uk-container-medium uk-section-primary">
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
            <div>
                <h2 class="uk-h3">Plan du site</h2>
                <nav>
                    <ul class="uk-list">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/sophrologie">La sophrologie</a></li>
                        <li><a href="/sophrologie-pratique">Sophrologie en pratique</a></li>
                        <li><a href="/indications-sophrologie">Indications en sophrologie</a></li>
                        <li><a href="/accompagner-la-maladie">Accompagner la maladie</a></li>
                        <li><a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a></li>
                        <li><a href="/tarifs-sophrologue">Tarifs</a></li>
                        <li><a href="/sophrologie-entreprises-collectivites">Sophrologie entreprises & collectivités</a>
                        </li>
                        <li><a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises &
                            collectivités</a></li>
                        <li><a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a></li>
                        <li><a href="/contact">Me contacter</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h2 class="uk-h3">Sophie Loosveldt, sophrologue</h2>
                <p>Sophie Loosveldt, sophrologue à Saint Lon Les Mines, reçoit les adultes, enfants et adolescents pour des séances individuelles ou de groupe. Elle s'adresse également aux professionnels, entreprises ou institutions.</p>
                <script type='application/ld+json'>
                    {
                      "@context": "http://www.schema.org",
                      "@type": "LocalBusiness",
                      "name": "Sophie Loosveldt",
                      "telephone": "+33683711082",
                      "url": "https://sophieloosveldtsophrologue.fr",
                      "logo": "https://sophieloosveldtsophrologue.fr/img/logo.svg",
                      "image": "https://sophieloosveldtsophrologue.fr/img/sophie-loosveldt-1.jpeg",
                      "description": "Sophrologue",
                      "priceRange" : "€40 - €60",
                      "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "20 Route du Herrou",
                        "addressLocality": "SAINT LON LES MINES",
                        "postalCode": "40300",
                        "addressCountry": "France"
                      },
                      "geo": {
                        "@type": "GeoCoordinates",
                        "latitude": "43.60874945763332",
                        "longitude": "-1.13582261732291"
                      },
                      "contactPoint": {
                        "@type": "ContactPoint",
                        "telephone": "+33683711082",
                        "contactType": "reservations"
                      }
                    }
                </script>
            </div>
            <div>
                <h2 class="uk-h3">Informations utiles</h2>
                <p><span uk-icon="icon: location"></span> Centre Médical Sérapéion</p>
                <p>20 Route du Herrou</p>
                <p>40300 SAINT LON LES MINES</p>
                <p><span uk-icon="icon: phone"></span> 06 83 71 10 82</p>

            </div>
        </div>
    </div>
    <div class="g-footer-sponsors uk-text-center uk-background-default uk-margin-bottom uk-margin-top">
        <img src="/img/sponsors.png" alt="sponsors sophrolgie">
    </div>
    <div class="g-footer-copy">
        <div class="uk-container-small">
            <div class="uk-flex uk-flex-around uk-margin-bottom uk-flex-wrap">
                <p class="uk-margin-remove uk-text-small">Tous droits réservés, Sophie Loosveldt</p>
                <a href="/mentions-legales/index.html" class="uk-display-block uk-text-small uk-link-text">Mentions légales</a>
            </div>
            <div class="uk-flex uk-flex-around">
                <a href="https://www.linkedin.com/in/sophie-loosveldt-bba34760/?trk=nav_responsive_tab_profile_pic" target="_blank" uk-icon="icon: linkedin"></a>
                <a href="https://www.facebook.com/sophieloosveldtsophrologue/" target="_blank" uk-icon="icon: facebook"></a>
            </div>

        </div>
    </div>
    <a href="#" uk-totop uk-scroll class="to-top"></a>
</footer>

{{ partial "svg" . }}
<!--<script src="//clicrdv-assets.s3.amazonaws.com/lib/clicrdv-widgets-v1/clicrdv-widgets-min.js"></script>-->
<script src="/js/uikit.js"></script>
<script src="/js/uikit-icons.js"></script>
<script src="/app.js"></script>
<!--<script>
  var myWidget = new CLICRDV.widgets.Link('loosveldt-sophie-sophrologue', {
    "target":"popin",
    "size":[550,1000],
    "autoresize":true,
    "style": "clicrdv-button-style6",
    "button_bg_color": "#ab382c",
    "params":{"nologo":true}
  });
  myWidget.render('clicrdv-container');
</script>-->

</body>
</html>
