<!doctype html>
<html lang="fr">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58214610-10"></script>
		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-58214610-10');
		</script>
		<title>{{ .Title }} | Sophrologie Montpellier</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ .Description }}">
		<meta name="format-detection" content="telephone=no">
		<link rel="canonical" href="{{ .Permalink }}">
		<link href="https://fonts.googleapis.com/css?family=Alegreya|Lato" rel="stylesheet">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="manifest" href="/manifest.json">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="Kaldi | Great coffee with a conscience">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/img/og-image.jpg">

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>

	<body class="sans-serif">
