<div id="scroll_to_1">
    <div class="home-page-content">
        <header>
            <h1 class="ui-heading-primary">Cabinet de Sophrologie Montpellier Arceaux</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis deserunt itaque
                quaerat. Ad
                aliquam architecto blanditiis eos excepturi facilis harum magnam mollitia nesciunt, quas quasi
                quibusdam
                quos tenetur voluptatem!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eum obcaecati rerum. Aperiam
                culpa
                cupiditate, dolore itaque non odio sapiente ullam voluptatem. Mollitia, possimus quae. Architecto
                harum
                odio
                quasi repellendus.</p>
        </header>
        <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-medium uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/img/sophrologie-particuliers.jpeg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h2 class="uk-h2">Sophrologie pour les particuliers</h2>
                        <p>Qu'elle soit pratiquée en
                            <nuxt-link to="/sophrologie-pratique"> séance individuelle ou en groupe</nuxt-link>
                            , la pratique de la sophrologie permet de développer connaissance de soi sur le chemin
                            de
                            l'épanouissement. Découvrez
                            <nuxt-link to="indications-sophrologie">à qui s'adresse la sophrologie</nuxt-link>
                            .
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h2 class="uk-h2">Sophrologie pour les professionnels</h2>
                        <p>La
                            <nuxt-link to="/sophrologue-entreprise">sophrologie pour les professionnels</nuxt-link>
                            s'addresse aux entreprises, mais aussi aux maisons de retraites, écoles, établissements
                            de santé et de
                            rééducation. Elle permet d'accompagner les professionnels vers un bien-être au travail.
                        </p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="/img/sophrologie-professionnels.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/img/home-hero.jpeg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h2 class="uk-h2">Votre sophrologue</h2>
                        <p>Votre sophrologue Sophie Loosveldt est diplômée de <a
                                href="https://www.ecole-formation-sophrologie.fr/" target="_blank">l'&Eacute;cole
                            Française de
                            Sophrologie</a> et membre de la
                            <a href="http://feps-sophrologie.fr/accueil.html">Fédération des &Eacute;coles
                                Professionnelles de
                                Sophrologie (FEPS)</a>.</p>
                        <p>Découvrez le parcours de
                            <nuxt-link to="sophie-loosveldt">Sophie Loosveldt, sophrologue</nuxt-link>
                            .
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h2 class="uk-h2">Me contacter</h2>
                        <p>Pour prendre rendez-vous, vous pouvez me contacter au 06 83 71 10 82 ou via ce
                            <nuxt-link to="/contact">formulaire de contact</nuxt-link>
                            . Je me ferai un plaisir de répondre à vos questions.
                        </p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="/img/contact.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>