<div class="home-page-content">
    {{ partial "short-text" .Params.blurb}}
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large" uk-grid>
        <div class="uk-flex-last@s uk-card-media-left uk-cover-container">
            <img src="/img/sophrologie-particuliers.jpg" alt="Femme cheveux">
        </div>
        <div>
            <div class="uk-card-body uk-card-small">
                <h2 class="uk-h3">Sophrologie pour les particuliers</h2>
                <p>Qu'elle soit pratiquée en
                    <a href="/sophrologie-pratique/index.html"> séance individuelle ou en groupe</a>
                    , la pratique de la sophrologie permet de développer la connaissance de soi sur le chemin
                    de
                    l'épanouissement.</p>
                <p> Découvrez
                    <a href="indications-sophrologie/index.html">à qui s'adresse la sophrologie</a>
                    .
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large" uk-grid>
        <div class="uk-card-media-right">
            <img src="/img/professionnels.jpg" alt="sophrologie professionnels">
        </div>
        <div class="uk-card-body uk-card-small">
            <h2 class="uk-h3">Sophrologie pour les professionnels</h2>
            <p>La
                <a href="/sophrologie-entreprises-collectivites/index.html">sophrologie pour les professionnels</a>
                s'adresse aux entreprises, mais aussi aux maisons de retraites, écoles, établissements
                de santé et de
                rééducation. Elle permet d'accompagner les professionnels vers un bien-être au travail.
            </p>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right">
            <img src="/img/sophie-loosveldt-1.jpg" alt="Sophie Looseveldt, Sophrologue">
        </div>
        <div class="uk-card-body uk-card-small">
            <h2 class="uk-h3">Votre sophrologue</h2>
            <p>Votre sophrologue Sophie Loosveldt est diplômée de <a href="https://www.ecole-formation-sophrologie.fr/"
                                                                     target="_blank">l'École
                Française de
                Sophrologie</a> et membre de la
                <a href="http://feps-sophrologie.fr/accueil.html">Fédération des Écoles
                    Professionnelles de
                    Sophrologie (FEPS)</a>.</p>
            <p>Découvrez le parcours de
                <a href="sophie-loosveldt-sophrologue/index.html">Sophie Loosveldt, sophrologue</a>
                .
            </p>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large" uk-grid>
        <div class="uk-card-media-left">
            <img src="/img/contact.jpg" alt="Téléphone">
        </div>
        <div class="uk-card-body uk-card-small">
            <h2 class="uk-h3">Contacter votre sophrologue</h2>
            <p>Pour prendre rendez-vous pour une séance de sophrologie, vous pouvez me contacter au 06 83 71 10 82 ou via ce
                <a href="/contact/index.html">formulaire de contact</a>
                . Je me ferai un plaisir de répondre à vos questions.
            </p>
        </div>
    </div>
</div>

