<header class="c-header tw-relative">
    <div class="tw-text-white tw-bg-dark-blue">
        <div class="tw-w-3/4 md:tw-w-full tw-flex tw-justify-between tw-flex-col md:tw-flex-row tw-text-white tw-bg-darker-blue tw-font-sans tw-p-1 tw-text-xs">
            <h1 class="tw-text-white tw-font-sans">{{ .Title }}</h1>
            <p>Cabinet de sophrologie Sud des Landes à Saint Lon les Mines, Dax, Bayonne, Peyrehorade</p>
        </div>
    </div>
    <div class="uk-offcanvas-content">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-right">
                <div class="uk-container">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li>
                            <a href="/">
                                <img src="/img/logo.svg"
                                     class="g-logo tw-absolute tw-left-5"
                                     style="width: 100px;"
                                     alt="logo sophrologue">
                            </a>
                        </li>
                        <li>
                            <a href="/sophrologie">La sophrologie</a>
                        </li>
                        <li>
                            <a href="#">Particuliers</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="offset: 0">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/sophrologie-pratique">Sophrologie en pratique</a>
                                    </li>
                                    <li>
                                        <a href="/indications-sophrologie">Indications en sophrologie</a>
                                    </li>
                                    <li>
                                        <a href="/accompagner-la-maladie">Accompagner la maladie</a>
                                    </li>
                                    <li>
                                        <a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a>
                                    </li>
                                    <li>
                                        <a href="/tarifs-sophrologue">Tarifs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Professionnels</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="offset: 0">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/sophrologie-entreprises-collectivites">Sophrologie entreprises &
                                            collectivités</a>
                                    </li>
                                    <li>
                                        <a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises
                                            & collectivités</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a>
                        </li>
                        <li>
                            <a href="/contact" class="me-contacter-link">Me contacter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="offcanvas-nav" uk-offcanvas="mode: slide">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <ul class="uk-nav uk-nav-default">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/sophrologie">La sophrologie</a>
                    </li>
                    <li class="uk-parent">
                        <a href="#">Particuliers</a>
                        <ul class="uk-nav-sub">
                            <li>
                                <a href="/sophrologie-pratique">Sophrologie en pratique</a>
                            </li>
                            <li>
                                <a href="/indications-sophrologie">Indications en sophrologie</a>
                            </li>
                            <li>
                                <a href="/accompagner-la-maladie">Accompagner la maladie</a>
                            </li>
                            <li>
                                <a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a>
                            </li>
                            <li>
                                <a href="/tarifs-sophrologue">Tarifs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Professionnels</a>
                        <ul class="uk-nav-sub">
                            <li>
                                <a href="/sophrologie-entreprises-collectivites">Sophrologie en entreprise</a>
                            </li>
                            <li>
                                <a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises
                                    & collectivités</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a>
                    </li>
                    <li>
                        <a href="/contact">Me contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="md:tw-hidden tw-absolute tw-right-0 tw-top-0 tw-bg-white">
        <a uk-navbar-toggle-icon
           href="#"
           rel="nofollow"
           uk-toggle="target: #offcanvas-nav"
           class="uk-navbar-toggle"
        >
        </a>
    </div>
</header>
