<header>
    <div class="top-bar-infos">
        <div class="uk-container">
            <p>Cabinet de sophrologie Montpellier Arceaux</p>
            <p class="u-italic uk-text-small">Sophrologue FEPS, titre inscrit au RNCP, niveau de qualification reconnu
                par l'&Eacute;tat</p>
            <div class="uk-flex uk-flex-around uk-margin-top uk-margin-small-bottom uk-width-1-3@m uk-align-center">
                <p class="top-bar-infos__phone"><span uk-icon="icon: phone; ratio: 2;"></span>06 83 71 10 82</p>
                <div id="clicrdv-container" class="uk-flex"></div>
            </div>
            <div class="home-accroche">
                <p class="uk-text-center uk-text-uppercase uk-padding-small">Mieux se connaitre et développer ses
                    ressources</p>
            </div>
        </div>
    </div>
    <a href="/"><img src="/img/logo.svg" class="g-logo-mobile" alt="logo sophie loosveldt, sophrologue"></a>
    <div class="uk-offcanvas-content">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-right">
                <div class="uk-container">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li>
                            <a href="/"><img src="/img/logo.svg" class="g-logo" alt=""></a>
                        </li>
                        <li>
                            <a href="/sophrologie">La sophrologie</a>
                        </li>
                        <li>
                            <a href="#">Particuliers</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="offset: 0">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/sophrologie-pratique">Sophrologie en pratique</a>
                                    </li>
                                    <li>
                                        <a href="/indications-sophrologie">Indications en sophrologie</a>
                                    </li>
                                    <li>
                                        <a href="/accompagner-la-maladie">Accompagner la maladie</a>
                                    </li>
                                    <li>
                                        <a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a>
                                    </li>
                                    <li>
                                        <a href="/tarifs-sophrologue">Tarifs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Professionnels</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="offset: 0">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/sophrologie-entreprises-collectivites">Sophrologie entreprises &
                                            collectivités</a>
                                    </li>
                                    <li>
                                        <a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises
                                            & collectivités</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a>
                        </li>
                        <li>
                            <a href="/contact" class="me-contacter-link">Me contacter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="offcanvas-nav" uk-offcanvas="mode: slide">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <ul class="uk-nav uk-nav-default">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/sophrologie">La sophrologie</a>
                    </li>
                    <li class="uk-parent">
                        <a href="#">Particuliers</a>
                        <ul class="uk-nav-sub">
                            <li>
                                <a href="/sophrologie-pratique">Sophrologie en pratique</a>
                            </li>
                            <li>
                                <a href="/indications-sophrologie">Indications en sophrologie</a>
                            </li>
                            <li>
                                <a href="/accompagner-la-maladie">Accompagner la maladie</a>
                            </li>
                            <li>
                                <a href="/atelier-sophrologie-groupe">Ateliers de sophrologie</a>
                            </li>
                            <li>
                                <a href="/tarifs-sophrologue">Tarifs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Professionnels</a>
                        <ul class="uk-nav-sub">
                            <li>
                                <a href="/sophrologie-entreprises-collectivites">Sophrologie en entreprise</a>
                            </li>
                            <li>
                                <a href="/modalites-entreprises-collectivites">Modalités sophrologie entreprises
                                    & collectivités</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sophie-loosveldt-sophrologue">Votre sophrologue</a>
                    </li>
                    <li>
                        <a href="/contact">Me contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a uk-navbar-toggle-icon="" href="#" rel="nofollow" uk-toggle="target: #offcanvas-nav" class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1">
            <rect y="9" width="20" height="2"></rect>
            <rect y="3" width="20" height="2"></rect>
            <rect y="15" width="20" height="2"></rect>
        </svg>
    </a>
</header>