<aside class="c-slogan tw-flex tw-flex-col md:tw-flex-row tw-justify-between tw-items-center tw-p-1 tw-italic tw-p-5 tw-bg-blue tw-font-semibold tw-text-darker-blue">
  <div class="md:tw-w-1/2">
    <p>Sophrologue FEPS, titre inscrit au RNCP, niveau de qualification reconnu
      par l'&Eacute;tat</p>
    <p class="tw-uppercase">Mieux se connaitre et développer ses ressources</p>
  </div>
  <div class="md:tw-w-1/2 tw-flex tw-items-center tw-justify-between tw-w-full">
    <span class="tw-block tw-bg-white tw-border tw-border-2 tw-border-yellow tw-rounded-sm tw-px-3 tw-py-1">
      06 83 71 10 82
    </span>
    <div id="clicrdv-container"></div>
  </div>

</aside>
