<aside class="c-slogan tw-flex tw-flex-col md:tw-flex-row tw-justify-between tw-items-center tw-p-1 tw-italic tw-p-5 tw-bg-blue tw-font-semibold tw-text-darker-blue">
  <div class="md:tw-w-1/2">
    <p>Sophrologue FEPS, titre inscrit au RNCP, niveau de qualification reconnu
      par l'&Eacute;tat</p>
    <p class="tw-uppercase">Mieux se connaitre et développer ses ressources</p>
  </div>
  <div class="md:tw-w-1/2 tw-flex tw-items-center tw-justify-between tw-w-full">
    <span class="tw-block tw-bg-white tw-border tw-border-2 tw-border-yellow tw-rounded-sm tw-px-3 tw-py-1">
      06 83 71 10 82
    </span>
    <a href="https://www.doctolib.fr/sophrologue/montpellier/sophie-loosveldt?utm_campaign=website-button&amp;utm_source=sophie-loosveldt-website-button&amp;utm_medium=referral&amp;utm_content=option-5&amp;utm_term=sophie-loosveldt"
       style="display:block;text-align:center;background-color:#0596DE;color:#ffffff;font-size:14px;overflow:hidden;width:257px;height:40px;border-bottom-right-radius:none;border-bottom-left-radius:none;z-index:1000;border-top-left-radius:4px;border-top-right-radius:4px;line-height:40px"
       target="_blank">
      <span style="font-size:13px">Prendre rendez-vous en ligne</span>
      <img style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto"
           src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png"
           alt="Doctolib"
      /></a>
  </div>

</aside>
