<aside class="c-slogan tw-flex tw-flex-col md:tw-flex-row tw-justify-between tw-items-center tw-p-1 tw-italic tw-p-5 tw-bg-blue tw-font-semibold tw-text-darker-blue">
  <div>
    <p>Sophrologue FEPS, titre inscrit au RNCP, niveau de qualification reconnu
      par l'&Eacute;tat</p>
    <p class="tw-uppercase">Mieux se connaitre et développer ses ressources</p>
  </div>
  <div class="tw-bg-white tw-border tw-border-2 tw-border-yellow tw-rounded tw-p-3">
    06 83 71 10 82
  </div>
  <div id="clicrdv-container"></div>
</aside>
