:root {
    --color-white: hsla(0, 0%, 98%, 1);
    --color-yellow: hsl(4, 78%, 67%);
    --color-light-yellow: hsla(14, 79%, 75%, 1);
    --color-lighter-yellow: hsl(33, 84%, 81%);
    --color-blue: hsla(197, 27%, 69%, 1);
    --color-dark-blue: hsla(204, 35%, 34%, 1);
    --color-light-blue:  hsla(197, 30%, 90%, 1);
}

.u-no-underline {
    text-decoration: none;
}

.u-no-underline:hover {
    text-decoration: none !important;
}
