:root {
    --color-white: hsla(0, 0%, 98%, 1);
    --color-yellow: HSLA(45, 61%, 62%, 1.00);
    --color-blue: HSLA(197, 27%, 69%, 1.00);
    --color-dark-blue: HSLA(204, 35%, 34%, 1.00);
    --color-light-blue:  HSLA(197, 30%, 90%, 1.00);
}

.u-no-underline {
    text-decoration: none;
}

.u-no-underline:hover {
    text-decoration: none !important;
}
