{{ partial "head" . }}
{{ partial "nav" . }}
<article class="uk-section">
    <div class="uk-container uk-container-small">
        <header>
            <h1 class="uk-h1">{{.Title}}</h1>
            <div class="flex justify-between grey-3">
                <p>{{ .Date.Format "2 Jan 2006" }}</p>
            </div>
        </header>
        <div class="cms mw6">
            <p>{{ .Description }}</p>
            {{ if .Params.image }}
            <div class="uk-cover-container uk-height-medium">

                <img src="{{ .Params.image }}" alt="{{ .Title }}"/>
            </div>
            {{ end }}
            {{ .Content }}
        </div>
    </div>
</article>
{{ partial "footer" . }}
