{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Particuliers</a></li>
                <li><span>Accompager la maladie</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">La sophrologie comme soin de support: accompagner la maladie</h1>
            <p>La sophrologie est aujourd'hui reconnue comme soin de support dans l'accompagnement de la maladie. Elle
                propose des outils adaptés aux besoins de chacun, et permet d'améliorer la qualité de vie des personnes
                malades et de leurs proches.</p>
            <blockquote cite="#">
                <p class="uk-margin-small-bottom">Guérir parfois, soulager souvent, accompagner toujours...</p>
                <footer>Louis Pasteur</footer>
            </blockquote>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-cover-container uk-height-large">
                <img src="/img/accompagner-maladie.jpeg" alt="" uk-cover>
            </div>
            <p>Dans l'accompagnement de la maladie, l'approche sophrologique, centrée sur la personne, est différente de
                l'approche médicale.</p>
            <p>Elle apporte une ouverture, une perspective différente, et offre à la personne la possibilité de
                développer son autonomie et de trouver ses propres ressources pour faire face à la maladie.</p>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-h2">Sophrologie et cancer</h2>
                <p>La sophrologie a toute sa place dans le parcours de soin, que ce soit au moment du choc que
                    représente l'annonce diagnostic, mais également pour soulager les symptômes et difficultés liés aux
                    traitements, et préserver la meilleure qualité de vie possible. Elle propose un accompagnement
                    pertinent pour&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>apaiser l'anxiété, apprendre à se détendre et à retrouver le calme en soi</li>
                    <li>prendre sa santé en main, devenir acteur de sa guérison</li>
                    <li>mobiliser ses ressources pour mieux vivre les examens et traitements</li>
                    <li>apprendre à gérer la douleur, les troubles du sommeil, les troubles de l'alimentation...</li>
                    <li>reprendre confiance et se projeter positivement</li>
                </ul>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-h2">Sophrologie et douleurs chroniques, fibromyalgie</h2>
                <p>La sophrologie peut aider à soulager les personnes atteintes de <a href="https://www.sophrologie-actualite.fr/etude-sophrologie-fibromyalgie/" target="_blank">fibromyalgie</a> et de douleurs chroniques, en permettant de&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>gérer l'anxiété et le stress qui viennent majorer les difficultés</li>
                    <li>apprendre à mieux gérer la douleur</li>
                    <li>soulager les troubles de l'humeur, les difficultés de concentration</li>
                    <li>soulager les troubles du sommeil et la fatigue</li>
                    <li>être plus conscient de soi, de son corps et de ses besoins</li>
                    <li>reprendre sa vie en main</li>
                </ul>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-h2">Sophrologie et maladies neurologiques : SEP, SLA, maladie de Parkinson, maladies neurodégénératives...</h2>
                <p>En travaillant sur les ressources des personnes, la sophrologie peut apporter un soutien de qualité et améliorer la qualité de vie au quotidien&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>gérer le stress et les émotions</li>
                    <li>prendre en charge la douleur</li>
                    <li>préparer une intervention ou des examens</li>
                    <li>se reconnecter à son corps, être plus conscient de son schéma corporel</li>
                    <li>apprendre à relâcher les tensions physiques</li>
                    <li>accompagner les changements</li>
                    <li>stimuler l'attention et la concentration</li>
                </ul>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-h2">Sophrologie et troubles du comportement alimentaires</h2>
                <p>La sophrologie peut être pertinente dans l'accompagnement pluridisciplinaire des désordres alimentaires, prenant en compte la dimension physiologique, psychologique et relationnelle des troubles.</p>
                <p>Elle propose une démarche active pour soutenir la personne dans ses ressources positives et pour mobiliser ses capacités en vue d'une meilleure adaptation au changement de comportement. Elle permet de renouer avec une image de soi positive, de reprendre confiance et de redécouvrir une relation naturelle à son corps, à ses sensations, au plaisir.</p>
                <p>La démarche sophrologique peut être intéressante pour&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>mettre en place une relation d'adulte à adulte basée sur la confiance</li>
                    <li>avoir des outils pour gérer les situations de crise</li>
                    <li>apprendre à accueillir et exprimer ses émotions, et à mieux faire face aux états d’anxiété</li>
                    <li>renouer avec des sensations agréables à partir de la relaxation et la détente corporelle</li>
                    <li>renforcer les ressources positives de la personne et installer les bases de la confiance en soi</li>
                </ul>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-h2">Sophrologie dans le parcours de prise en charge de l'obésité</h2>
                <p>La sophrologie propose une aide active dans l'accompagnement pluridisciplinaire de la prise en charge de l'obésité, en amont mais également après une chirurgie.</p>
                <p>Elle permet de&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>gérer l'anxiété et le stress</li>
                    <li>se préparer au changement</li>
                    <li>soutenir la personne dans ses ressources positives</li>
                    <li>renouer avec une image de soi positive</li>
                    <li>redécouvrir une relation naturelle à son corps, à ses sensations et au plaisir.</li>
                    <li>prévenir les rechutes et la reprise de poids</li>
                </ul>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-primary uk-card-body">
                <p>La sophrologie peut aussi apporter une aide efficace pour mieux vivre&nbsp;:</p>
                <ul class="uk-list uk-list-bullet">
                    <li>les troubles anxieux, dépression, burn out</li>
                    <li>les troubles du sommeil, insomnies, céphalées</li>
                    <li>les addictions</li>
                    <li>les acouphènes</li>
                    <li>les maladies à expression respiratoire (asthme), cutanées (psoriasis, eczéma), digestives (colopathies)</li>
                    <li>l'anxiété accompagnant les examens médicaux, les interventions chirurgicales...</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}