{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Particuliers</a></li>
                <li><span>Ateliers de sophrologie</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Les ateliers de sophrologie en groupe</h1>
            <p>Les modules de groupe sur des thèmes spécifiques sont proposés tout au long de l'année, dans le cadre de 10 à 15 séances hebdomadaires d'une heure et demie, pour des groupes de 8 personnes maximum afin de favoriser l'écoute et les échanges.</p>
        </header>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Module Equilibre Général et Gestion du Stress</h2>
            <p>2 horaires&nbsp;:&nbsp;Le <span class="uk-label">mardi</span> de <span
                    class="uk-label">17h00 à 18h30</span> et le <span class="uk-label">jeudi</span> de<span
                    class="uk-label">10h00 à 11h30</span></p>
            <p><span class="uk-label">12 séances d'1h30</span> faites de découvertes, d’échanges et de pratiques pour
                aller à la rencontre de soi et
                ancrer les bases d’une bonne vitalité au quotidien.</p>
            <p>Tarif : <span class="uk-label">180 euros les 12 séances</span> (possibilité de règlement en plusieurs
                fois)</p>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/module-equilibre.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-card-primary">
                    <h3 class="uk-card-title">Contenu du module</h3>
                    <ul uk-accordion>
                        <li class="uk-open">
                            <h3 class="uk-accordion-title">Notre respiration: la connaissons-nous vraiment&nbsp;?</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-bullet">
                                    <li>A la redécouverte de notre respiration.</li>
                                    <li>Vers une respiration naturelle.</li>
                                    <li>Vitalité et détente grâce à la respiration.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3 class="uk-accordion-title">Les bienfaits de la relaxation</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-bullet">
                                    <li>Tonus et eutonie.</li>
                                    <li>Expérimenter différentes méthodes de relaxation.</li>
                                    <li>Les bienfaits de la détente au quotidien.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3 class="uk-accordion-title">A la rencontre de notre corps</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-bullet">
                                    <li>Un phénomène extraordinaire : nos sensations.</li>
                                    <li>L'écoute du corps : vers l'éveil de notre sensibilité.</li>
                                    <li>La relaxation dynamique du 1er degré.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3 class="uk-accordion-title">Notre mental et nous...</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-bullet">
                                    <li>Concentration et lâcher-prise.</li>
                                    <li>Canalisons notre énergie mentale.</li>
                                    <li>Vivons pleinement le moment présent.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h3 class="uk-accordion-title">Vive le stress !</h3>
                            <div class="uk-accordion-content">
                                <ul class="uk-list uk-list-bullet">
                                    <li>Le stress : frein ou moteur ?</li>
                                    <li>Stress et capacités d'adaptation.</li>
                                    <li>Comment développer une bonne qualité de stress ?</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Modules Gestion des Emotions <sup>*</sup></h2>
            <div class="uk-card-body uk-card-primary">
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                    <div class="uk-card uk-card-body">
                        <ul uk-accordion>
                            <li class="uk-open">
                                <h3 class="uk-accordion-title">Module 1</h3>
                                <div class="uk-accordion-content">
                                    <p><span class="uk-label">12 séances d'1h30</span> pour consolider les bases d'un
                                        bon équilibre général et aborder
                                        la gestion des émotions</p>
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Prendre conscience de sa relation aux émotions</li>
                                        <li>Développer sa qualité d’écoute du corps</li>
                                        <li>Apprendre à diminuer l’intensité des sensations émotionnelles</li>
                                        <li>Mobiliser ses ressources de façon positive</li>
                                    </ul>
                                    <p>Tarif&nbsp;:&nbsp;<span class="uk-label">180 euros les 12 séances</span></p>
                                </div>
                            </li>
                            <li>
                                <h3 class="uk-accordion-title">Module 2</h3>
                                <div class="uk-accordion-content">
                                    <p>Mieux se connaitre et retrouver une relation naturelle à ses émotions</p>
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Prendre conscience de sa relation aux émotions désagréables, redécouvrir
                                            leur nature et leur fonction
                                        </li>
                                        <li>Développer la qualité de gestion de ses émotions désagréables, comprendre et
                                            mettre en place des comportements adaptés
                                        </li>
                                        <li>Intégrer les bénéfices d’une relation naturelle à ses émotions
                                            désagréables
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="/img/gestion-emotions.jpeg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                </div>
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p><sup>*</sup> ces modules nécessitent d'avoir suivi le module Equilibre Général et Gestion du
                        stress</p>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Étudiants, lycéens : module gestion du stress et préparation aux examens</h2>
            <p>Le <span class="uk-label">mercredi</span> de <span class="uk-label">17h00 à 18h30</span></p>
            <p><span class="uk-label">5 séances</span> pour apprendre à gérer le stress et vivre plus sereinement ses
                examens</p>
            <p>Tarif : <span class="uk-label">75 euros les 5 séances</span> (possibilité de règlement en plusieurs
                fois)</p>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/module-examens.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-card-primary">
                    <h3 class="uk-card-title">Contenu du module</h3>
                    <div class="uk-accordion-content">
                        <ul class="uk-list uk-list-bullet">
                            <li>Apprendre à se détendre, à relâcher les tensions musculaires</li>
                            <li>Retrouver un meilleur sommeil, plus récupérateur</li>
                            <li>Mieux gérer son stress et ses émotions</li>
                            <li>Améliorer ses performances cognitives (attention, concentration, mémoire…)</li>
                            <li>Se projeter positivement pour optimiser les conditions de réussite</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Module Confiance en Soi <sup>*</sup></h2>
            <p>Le <span class="uk-label">mercredi</span> de <span class="uk-label">18h30 à 20h00</span></p>
            <p><span class="uk-label">12 séances d'1h30</span> pour mieux se connaitre et être pleinement soi même</p>
            <p>Tarif&nbsp;:&nbsp;<span class="uk-label">180 euros les 12 séances</span></p>
            <div class="uk-card-body uk-card-primary">
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                    <div class="uk-card uk-card-body">
                        <h3 class="uk-card-title">Contenu du module</h3>
                        <ul class="uk-list uk-list-bullet">
                            <li>Comprendre ce qu'est la confiance en soi et le manque de confiance en soi</li>
                            <li>Prendre conscience de ses conditionnements</li>
                            <li>Se préparer au changement</li>
                            <li>Renforcer ses capacités</li>
                        </ul>
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="/img/module-confiance.jpeg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                </div>

            </div>
            <div class="uk-alert-primary" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p><sup>*</sup> ces modules nécessitent d'avoir suivi modules Équilibre Général/Gestion du stress et
                    Gestion des Émotions</p>
            </div>
        </div>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <h2 class="uk-h2">L'atelier Sophro-Naturo</h2>
            <h3 class="uk-h4 uk-margin-remove">Un atelier en binôme, pour vous faire profiter de la complémentarité des
                approches de la sophrologie et de la naturopathie.</h3>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/sophro-nature.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-card-primary">
                    <h3 class="uk-card-title">Contenu du module</h3>
                    <div class="uk-accordion-content">
                        <ul class="uk-list uk-list-bullet">
                            <li>Tous les 2 mois, le samedi de 14h30 à 17h30</li>
                            <li>Thèmes:
                                <ul class="uk-list uk-list-bullet">
                                    <li>20/01/18 : "Bien dans sa tête, bien dans son corps après les fêtes"</li>
                                    <li>17 mars : "Détox printanière"</li>
                                    <li>7 avril : "Booster sa mémoire"</li>
                                    <li>2 juin : "Préparer l'été"...</li>
                                </ul>
                            </li>
                            <li>Avec Sophie Loosveldt, sophrologue et Leïla Houhou naturopathe (formée par le CNR André
                                Lafon)
                            </li>
                            <li>Groupe restreint afin de favoriser les échanges et la convivialité</li>
                            <li>Lieu: Espace les Sens de L’Être 5 rue Boyer, 34000 Montpellier</li>
                            <li>Participation : 30 euros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="uk-section-xsmall uk-section-secondary uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Module Equilibre Alimentaire et Gestion du poids <sup>*</sup></h2>
            <h3 class="uk-h4 uk-margin-remove">Des échanges et des pratiques pour porter un nouveau regard sur soi,
                redécouvrir ses sensations alimentaires et mettre en place un nouveau comportement alimentaire.
            </h3>
            <div class="uk-card-body uk-card-primary">
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                    <div class="uk-card uk-card-body">
                        <h3 class="uk-card-title">Contenu du module</h3>
                        <ul class="uk-list uk-list-bullet">
                            <li>Observer son comportement alimentaire</li>
                            <li>Prendre conscience de ses motivations et de ses freins</li>
                            <li>Redécouvrir son corps et ses besoins</li>
                            <li>Apprendre à relâcher les tensions</li>
                            <li>Réveiller sa sensorialité, les sensations de satiété,</li>
                            <li>Le plaisir gustatif</li>
                            <li>Intégrer un nouvel équilibre alimentaire</li>
                        </ul>
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="/img/module-poids.jpeg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>


{{ partial "footer" . }}