{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Particuliers</a></li>
                <li><span>Ateliers de sophrologie</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Les ateliers de sophrologie en groupe</h1>
            <p>Les modules de groupe sur des thèmes spécifiques sont proposés tout au long de l'année, dans le cadre de
                10 à 15 séances hebdomadaires d'une heure et demie, pour des groupes de 8 personnes maximum afin de
                favoriser l'écoute et les échanges.</p>
        </header>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/img/module-equilibre.jpeg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">Module Equilibre Général et Gestion du Stress</h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <ul class="uk-list uk-list-bullet">
                    <li>Redécouvrir sa respiration pour mieux l'utiliser</li>
                    <li>Apprendre à se détendre au quotidien</li>
                    <li>Écouter son corps et ses sensations</li>
                    <li>Apprivoiser son mental : concentration et lâcher prise</li>
                    <li>Comprendre le stress pour mieux s'adapter</li>
                </ul>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="/img/gestion-emotions.jpeg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">Module Gestion des Emotions <sup>*</sup></h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <ul class="uk-list uk-list-bullet">
                    <li>Consolider les bases d'un bon équilibre général</li>
                    <li>Prendre conscience de sa relation aux émotions désagréables</li>
                    <li>Comprendre ses émotions désagréables et mettre en place des comportements adaptés</li>
                    <li>Mieux se connaitre et retrouver une relation naturelle à ses émotions</li>
                </ul>
            </div>
        </div>
        <div class="uk-alert-warning" uk-alert>
            <p><sup>*</sup> Ce module nécessite d'avoir suivi le module Equilibre Général et Gestion du
                stress</p>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/img/module-confiance.jpeg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">Module Confiance en Soi<sup>*</sup></h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <ul class="uk-list uk-list-bullet">
                    <li>Comprendre ce qu'est la confiance en soi et le manque de confiance en soi</li>
                    <li>Prendre conscience de ses conditionnements</li>
                    <li>Se préparer au changement</li>
                    <li>Renforcer ses capacités</li>
                </ul>
            </div>
        </div>
        <div class="uk-alert-warning" uk-alert>
            <p><sup>*</sup> Ce module nécessite d'avoir suivi modules Équilibre Général/Gestion du stress et
                Gestion des Émotions</p>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="/img/meditation-guidee.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">Méditation guidée</h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <ul class="uk-list uk-list-bullet">
                    <li>Tous les lundis de 12h30 à 13h30</li>
                    <li>Se ressourcer et prendre un moment pour soi</li>
                    <li>Apprendre à se recentrer</li>
                    <li>Vivre pleinement l'instant présent</li>
                </ul>
            </div>
        </div>
        <div class="uk-alert-warning" uk-alert>
            <p>Tarif : 10 euros la séance</p>
            <p>Pas d'engagement mais inscription obligatoire au plus tard le lundi 10h, par téléphone au 06 83 71 10
                82</p>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/img/module-examens.jpeg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">Étudiants, lycéens : module gestion du stress et préparation aux examens</h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <ul class="uk-list uk-list-bullet">
                    <li>Apprendre à se détendre, à relâcher les tensions musculaires</li>
                    <li>Retrouver un meilleur sommeil</li>
                    <li>Mieux gérer son stress et ses émotions</li>
                    <li>Améliorer ses performances cognitives (attention, concentration, mémoire…)</li>
                    <li>Se projeter positivement pour optimiser les conditions de réussite</li>
                </ul>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-medium-top" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="/img/sophro-nature.jpeg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <h2 class="uk-h4">L'atelier Sophro-Naturo</h2>
                </div>
            </div>
            <div class="uk-card-body uk-card-default">
                <p class="">Tous les 2 mois, le samedi de 14h30 à 17h30, un atelier en binôme, pour profiter de la
                    complémentarité des approches de la sophrologie et de la naturopathie.</p>
                <ul class="uk-list uk-list-bullet">
                    <li>Passer un hiver en pleine forme</li>
                    <li>Bien dans sa tête, bien dans son corps après les fêtes</li>
                    <li>Booster sa mémoire</li>
                    <li>Détox printanière</li>
                    <li>Préparer l'été...</li>
                </ul>
            </div>
        </div>
        <div class="uk-alert-warning uk-margin-bottom" uk-alert>
            <p>Tarif : 30 euros</p>
            <p>Avec Sophie Loosveldt, sophrologue et <a href="https://www.facebook.com/LH.naturo/">Leïla Houhou</a> naturopathe.</p>
        </div>

        <!--<div class="uk-section-xsmall uk-section-secondary uk-padding uk-margin-bottom">
            <h2 class="uk-h4">Module Equilibre Alimentaire et Gestion du poids <sup>*</sup></h2>
            <h3 class="uk-h4 uk-margin-remove">Des échanges et des pratiques pour porter un nouveau regard sur soi,
                redécouvrir ses sensations alimentaires et mettre en place un nouveau comportement alimentaire.
            </h3>
            <div class="uk-card-body uk-card-primary">
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                    <div class="uk-card uk-card-body">
                        <h3 class="uk-card-title">Contenu du module</h3>
                        <ul class="uk-list uk-list-bullet">
                            <li>Observer son comportement alimentaire</li>
                            <li>Prendre conscience de ses motivations et de ses freins</li>
                            <li>Redécouvrir son corps et ses besoins</li>
                            <li>Apprendre à relâcher les tensions</li>
                            <li>Réveiller sa sensorialité, les sensations de satiété,</li>
                            <li>Le plaisir gustatif</li>
                            <li>Intégrer un nouvel équilibre alimentaire</li>
                        </ul>
                    </div>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="/img/module-poids.jpeg" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>
{{ partial "footer" . }}