{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Les ateliers de sophrologie en groupe</h1>
            <ul class="uk-list uk-list-bullet">
                <li>La sophrologie est une discipline du domaine des sciences humaines qui se caractérise par le fait d'être
                    avant tout une pratique. Elle a été créée en 1960 par un neuro-psychiatre espagnol, le Dr Alfonso
                    Caycedo.
                </li>
                <li>Elle s’est tout d'abord développée dans le milieu médical pour s’étendre ensuite aux domaines du sport,
                    de l'entreprise, du développement personnel, du social et de l'éducation.
                </li>
                <li>La sophrologie utilise une méthodologie originale, un ensemble de techniques spécifiques et une
                    pédagogie visant à l'autonomisation.
                </li>
                <li>Sa pratique développe la connaissance de soi et permet de mobiliser les ressources qui existent en
                    chacun dans un objectif d’autonomisation et d'épanouissement.
                </li>
            </ul>
        </header>
        <div class="uk-section-xsmall uk-section-primary uk-padding uk-margin-bottom">
            <h2 class="uk-h2">Module Equilibre Général et Gestion du Stress</h2>
            <p>2 horaires&nbsp;:&nbsp;Le mardi de <span class="uk-label">17h00 à 18h30</span> et le jeudi de<span class="uk-label">10h00 à 11h30</span></p>
            <p>12 séances d'1h30 faites de découvertes, d’échanges et de pratiques pour aller à la rencontre de soi et ancrer les bases d’une bonne vitalité au quotidien.</p>
            <p>Tarif : <span class="uk-label">180 euros les 12 séances</span>  (possibilité de règlement en plusieurs fois)</p>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/module-equilibre.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body uk-card-primary">
                        <h3 class="uk-card-title">Contenu du module</h3>
                        <ul uk-accordion>
                            <li class="uk-open">
                                <h3 class="uk-accordion-title">Notre respiration: la connaissons-nous vraiment&nbsp;?</h3>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>A la redécouverte de notre respiration.</li>
                                        <li>Vers une respiration naturelle.</li>
                                        <li>Vitalité et détente grâce à la respiration.</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 class="uk-accordion-title">Les bienfaits de la relaxation</h3>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Tonus et eutonie.</li>
                                        <li>Expérimenter différentes méthodes de relaxation.</li>
                                        <li>Les bienfaits de la détente au quotidien.</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 class="uk-accordion-title">A la rencontre de notre corps</h3>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Un phénomène extraordinaire : nos sensations.</li>
                                        <li>L'écoute du corps : vers l'éveil de notre sensibilité.</li>
                                        <li>La relaxation dynamique du 1er degré.</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 class="uk-accordion-title">Notre mental et nous...</h3>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Concentration et lâcher-prise.</li>
                                        <li>Canalisons notre énergie mentale.</li>
                                        <li>Vivons pleinement le moment présent.</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 class="uk-accordion-title">Vive le stress !</h3>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Le stress : frein ou moteur ?</li>
                                        <li>Stress et capacités d'adaptation.</li>
                                        <li>Comment développer une bonne qualité de stress ?</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="uk-section-xsmall uk-section-secondary uk-padding">
            <h2 class="uk-h2">Module Equilibre Général et Gestion du Stress</h2>
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Définir la sophrologie</h3>
                        <p>La sophrologie est une démarche au cours de laquelle

                            la personne va prendre conscience de ce qui entre en jeu dans sa relation à elle-même, aux
                            autres

                            et aux événements de sa vie,

                            tant au niveau physique, psychique qu’émotionnel.

                            Elle va ainsi développer la connaissance d’elle-même.

                            Et ceci afin de développer ses capacités d’action, d’adaptation et d’évolution dans son
                            quotidien.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Les racines grecques du mot sophrologie</h3>

                        <ul class="uk-list">
                            <li><i>SOS</i>&nbsp;:&nbsp;sérénité, équilibre, harmonie</li>
                            <li><i>PHREN</i>&nbsp;:&nbsp;esprit, conscience</li>
                            <li><i>LOGOS</i>&nbsp;:&nbsp;science, étude, discours</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{{ partial "footer" . }}