{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Contact</h1>
        </header>
        <div class="uk-section-xsmall uk-section-default uk-padding uk-margin-bottom">
            <form name="contact" data-netlify="true">
                <div class="uk-margin">
                    <label>Nom</label>
                    <input class="uk-input" type="text" name="name" placeholder="Votre nom" required>
                </div>
                <div class="uk-margin">
                    <label>Prénom</label>
                    <input class="uk-input" type="text" name="prenom" placeholder="Votre prénom" required>
                </div>
                <div class="uk-margin">
                    <label>Email</label>
                    <input class="uk-input" type="email" name="email" placeholder="Votre email" required>
                </div>
                <div class="uk-margin">
                    <label>Votre message</label>
                    <textarea class="uk-textarea" rows="5" placeholder="Votre message" name="message" required></textarea>
                </div>
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>
{{ partial "footer" . }}