{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><span>Me contacter</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Contact</h1>
        </header>
        <div class="uk-grid-small uk-child-width-expand@m" uk-grid>
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="/img/sophie-loosveldt.jpg">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Sophie Loosveldt</h3>
                            <p class="uk-text-meta uk-margin-remove-top">Sophrologue</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>Cabinet de Sophrologie des Arceaux</p>
                    <p>Centre Médical Citymed</p>
                    <p>31 avenue de l’École d'Agriculture 34000 Montpellier</p>
                </div>
                <div class="uk-card-footer">
                    <p>Si vous avez des questions ou souhaitez prendre un rendez-vous,
                        n'hésitez pas à me contacter.</p>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
                <div id="map"></div>
                <script>
                    function initMap() {
                        var uluru = {lat: 43.61434269999999, lng: 3.8574628000000075};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 13,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
            </div>
        </div>

        <div class="uk-grid-small uk-child-width-expand@m" uk-grid>
            <div class="uk-card uk-card-default uk-padding">
                <p>Vous pouvez me joindre&nbsp;:</p>
                <ul class="uk-list">
                    <li><span uk-icon="icon: phone;"></span> Par téléphone au : 06 83 71 10 82</li>
                    <li><span uk-icon="icon: mail;"></span> Par mail : sophieloosveldt-sophrologue@orange.fr</li>
                </ul>
            </div>
            <div class="uk-card uk-card-default uk-padding">
                <p>Vous pouvez également remplir le formulaire suivant.</p>
                <form name="contact" data-netlify="true">
                    <div class="uk-margin">
                        <label>Nom</label>
                        <input class="uk-input" type="text" name="name" placeholder="Votre nom" required>
                    </div>
                    <div class="uk-margin">
                        <label>Prénom</label>
                        <input class="uk-input" type="text" name="prenom" placeholder="Votre prénom" required>
                    </div>
                    <div class="uk-margin">
                        <label>Email</label>
                        <input class="uk-input" type="email" name="email" placeholder="Votre email" required>
                    </div>
                    <div class="uk-margin">
                        <label>Votre message</label>
                        <textarea class="uk-textarea" rows="5" placeholder="Votre message" name="message" required></textarea>
                    </div>
                    <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs7cg1kmAA-_ukQMt72iRbHD5QyCwlaGE&callback=initMap">
</script>
{{ partial "footer" . }}