{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><span>Me contacter</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Me contacter</h1>
        </header>
        <div class="uk-grid-small uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/img/sophie-loosveldt.jpg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Sophie Loosveldt</h3>
                                <p class="uk-text-meta uk-margin-remove-top">Sophrologue</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Cabinet de Sophrologie</p>
                        <p>Centre Médical Sérapéion</p>
                        <p>20 Route du Herrou</p>
                        <p>40300 Saint Lon les Mines</p>
                    </div>
                    <div class="uk-card-footer">
                        <p>Si vous avez des questions ou souhaitez prendre un rendez-vous, n'hésitez pas à me contacter.</p>
                        <ul class="uk-list">
                            <li><span uk-icon="icon: phone;"></span> 06 83 71 10 82</li>
                            <li><span uk-icon="icon: mail;"></span> sophieloosveldt-sophrologue@orange.fr</li>
                        </ul>
                        <p>Vous pouvez également remplir le formulaire de contact.</p>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <form name="contact"
                          data-netlify="true"
                          data-netlify-recaptcha="true"
                          netlify-honeypot="bot-field"
                    >
                        <p class="uk-hidden">
                            <label>Don’t fill this out if you’re human: <input name="bot-field"/></label>
                        </p>
                        <div class="uk-margin">
                            <label>Nom</label>
                            <input class="uk-input" type="text" name="name" placeholder="Votre nom" required>
                        </div>
                        <div class="uk-margin">
                            <label>Prénom</label>
                            <input class="uk-input" type="text" name="prenom" placeholder="Votre prénom" required>
                        </div>
                        <div class="uk-margin">
                            <label>Email</label>
                            <input class="uk-input" type="email" name="email" placeholder="Votre email" required>
                        </div>
                        <div class="uk-margin">
                            <label>Téléphone</label>
                            <input class="uk-input" type="tel" name="telephone" placeholder="Votre téléphone" required>
                        </div>
                        <div class="uk-margin">
                            <label>Votre message</label>
                            <textarea class="uk-textarea" rows="5" placeholder="Votre message" name="message" required></textarea>
                        </div>
                        <div data-netlify-recaptcha="true"></div>
                        <div class="uk-margin">
                            <button type="submit"
                                    class="uk-button uk-button-cta"
                            >
                                Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="uk-margin-medium-top uk-margin-medium-bottom">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1036.2550013161836!2d-1.1342517558886178!3d43.6075636239536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdd85900145bd5879!2scentre%20m%C3%A9dical%20serape%C3%AFon!5e0!3m2!1sfr!2sfr!4v1629381398030!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</section>
{{ partial "footer" . }}
