{{ partial "head" . }}
{{ partial "nav" . }}

<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Particuliers</a></li>
                <li><span>Indications sophrologie</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Les indications en sophrologie</h1>
            <p>La sophrologie s'adresse à tous ceux qui souhaitent prendre soin d'eux, de leur santé, de leur bien-être,
                elle propose des moyens simples et efficaces pour&nbsp;</p>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/gerer-stress.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-text-uppercase uk-text-center uk-h4">Prévenir et gérer le stress</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Mieux respirer</li>
                            <li>Apprendre à se détendre</li>
                            <li>Écouter son corps</li>
                            <li>Améliorer son sommeil</li>
                            <li>Apprendre à lâcher prise</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/epanouissement-pro.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">S'épanouir dans sa vie personnelle et
                            professionnelle</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Apprendre à se concentrer</li>
                            <li>Gérer son stress et ses émotions</li>
                            <li>Développer sa confiance en soi</li>
                            <li>S'adapter aux changements</li>
                            <li>Prévenir le burn out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/examens.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Bien préparer ses examens</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Préparer ses examens</li>
                            <li>Développer sa confiance en soi</li>
                            <li>Gérer son stress, ses émotions</li>
                            <li>Développer ses capacités de concentration et d'apprentissage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/etapes-vie.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Mieux vivre les différentes étapes de la
                            vie</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>S'adapter aux changements</li>
                            <li>Mieux vivre les troubles liés à la ménopause et à la pré ménopause</li>
                            <li>Apprendre à se relaxer</li>
                            <li>Mieux dormir</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/maternite.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Vivre sereinement la maternité</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>S'adapter aux changements</li>
                            <li>Vivre pleinement sa grossesse</li>
                            <li>Préparer son accouchement</li>
                            <li>Identifier et gérer ses émotions</li>
                            <li>Gérer la douleur</li>
                            <li>Devenir parents</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/alimentation.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Gérer durablement son poids</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Écouter son corps : redécouvrir les sensations de faim, de satiété, de plaisir</li>
                            <li>Développer sa motivation</li>
                            <li>Vivre ses émotions différemment</li>
                            <li>Mieux appréhender le stress</li>
                            <li>Renouer avec une image de soi positive</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/vieillir.jpeg" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Viellir sereinement</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>S'adapter aux changements</li>
                            <li>Préserver et respecter son rythme</li>
                            <li>Apprendre à se détendre</li>
                            <li>Mieux dormir</li>
                            <li>Développer ses capacités de concentration et de mémorisation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer" . }}