{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <h1 class="uk-h1">Mentions légales</h1>
        <p>Conformément</p>
        <ul class="uk-list uk-list-bullet">
            <li>à la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique : art. 6-III et art.
                19
            </li>
            <li>à la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés : art. 22 et
                art. 32
            </li>
            <li>au Code de la consommation : art. L. 111-2 + L. 121-18</li>
            <li>au Code général des impôts : art. 286 ter</li>
            <li>à la Loi n° 82-652 du 29 juillet 1982 sur la communication audiovisuelle : art. 93-2</li>
        </ul>

        <h2 class="uk-h2">Identification du site</h2>
        <ul class="uk-list uk-list-bullet">
            <li>URL du site: http://psychologue-sarrebourg.fr</li>
            <li>Identité du propriétaire du site</li>
            <li>Le présent site internet est la propriété de Sophie Loosveldt</li>
            <li>Raison sociale : activité libérale sous le régime de l'entreprise individuelle</li>
            <li>Adresse du siège social : 31 avenue de l'Ecole d'Agriculture | 34000 Montpellier</li>
            <li>Téléphone :  06 83 71 10 82</li>
        </ul>
        <h2 class="uk-h2">Publication du site</h2>
        <ul class="uk-list uk-list-bullet">
            <li>Directeur de la publication : Sophie Loosveldt</li>
            <li>Responsable de la rédaction : Sophie Loosveldt</li>
            <li>Webmaster : Nicolas Devaux</li>
        </ul>
        <h2 class="uk-h2">Concepteur du site</h2>
        <ul class="uk-list uk-list-bullet">
            <li>Site réalisé par Nicolas Devaux</li>
            <li>Siège social : 106, rue Houdan, 92290 SCEAUX</li>
        </ul>
        <h2 class="uk-h2">Hébergeur du site</h2>
        <p>Site hébergé par Netlify</p>
        <p class="uk-margin-bottom">https://www.netlify.com</p>
    </div>
</section>
{{ partial "footer" . }}