{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Professionnels</a></li>
                <li><span>Modalités entreprises & collectivités</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Modalités d'intervention pour les entreprises & collectivités</h1>
            <p>Je peux intervenir dans votre établissement en fonction de vos besoins&nbsp;:</p>
            <ul class="uk-list uk-list-bullet">
                <li>Interventions ponctuelles autour d'un thème</li>
                <li>Interventions régulières sous forme de séances hebdomadaires, bimensuelles ou mensuelles</li>
            </ul>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">Modalités d'intervention</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>En groupe jusqu'à 12 personnes volontaires</p>
                    <p>Module de 10 à 15 séances</p>
                    <p>Durée d’une séance : 1h15 à 1h30</p>
                </div>
                <div class="uk-card-footer">
                    <p>N'hésitez pas à me contacter pour une présentation ou une séance de découverte :</p>
                    <p><span uk-icon="icon: phone"></span> 06 83 71 10 82</p>
                    <a href="mailto:sophieloosveldt-sophrologue@orange.fr" class=""><span uk-icon="icon: mail"></span> sophieloosveldt-sophrologue@orange.fr</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}