{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Sophrologie entreprises & collectivités</h1>
            <ul class="uk-list uk-list-bullet">
                <li>La sophrologie est une discipline du domaine des sciences humaines qui se caractérise par le fait d'être
                    avant tout une pratique. Elle a été créée en 1960 par un neuro-psychiatre espagnol, le Dr Alfonso
                    Caycedo.
                </li>
                <li>Elle s’est tout d'abord développée dans le milieu médical pour s’étendre ensuite aux domaines du sport,
                    de l'entreprise, du développement personnel, du social et de l'éducation.
                </li>
                <li>La sophrologie utilise une méthodologie originale, un ensemble de techniques spécifiques et une
                    pédagogie visant à l'autonomisation.
                </li>
                <li>Sa pratique développe la connaissance de soi et permet de mobiliser les ressources qui existent en
                    chacun dans un objectif d’autonomisation et d'épanouissement.
                </li>
            </ul>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Définir la sophrologie</h3>
                        <p>La sophrologie est une démarche au cours de laquelle

                            la personne va prendre conscience de ce qui entre en jeu dans sa relation à elle-même, aux
                            autres

                            et aux événements de sa vie,

                            tant au niveau physique, psychique qu’émotionnel.

                            Elle va ainsi développer la connaissance d’elle-même.

                            Et ceci afin de développer ses capacités d’action, d’adaptation et d’évolution dans son
                            quotidien.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Les racines grecques du mot sophrologie</h3>

                        <ul class="uk-list">
                            <li><i>SOS</i>&nbsp;:&nbsp;sérénité, équilibre, harmonie</li>
                            <li><i>PHREN</i>&nbsp;:&nbsp;esprit, conscience</li>
                            <li><i>LOGOS</i>&nbsp;:&nbsp;science, étude, discours</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}