{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="uk-disabled"><a href="#">Professionnels</a></li>
                <li><span>Sophrologie entreprises & collectivités</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Sophrologie entreprises & collectivités</h1>
            <p>La sophrologie peut apporter une réponse adaptée pour développer et renforcer les capacités d’action dans le milieu professionnel.</p>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">
                <div class="uk-card-media-left uk-cover-container uk-first-column">
                    <img src="/img/entreprises.jpeg" alt="sophrologie entreprises" uk-cover="" class="uk-cover" style="height: 336px; width: 450px;">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Entreprises</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Prévenir les risques psycho-sociaux et les troubles musculo-squelettiques</li>
                            <li>Renforcer la vitalité, la motivation, la créativité</li>
                            <li>Mobiliser un stress productif</li>
                            <li>Maîtriser sa concentration, ses émotions</li>
                            <li>Développer ses capacités d'adaptation</li>
                            <li>Développer la confiance en soi</li>
                            <li>Renforcer la dynamique de groupe et l'esprit d'équipe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/ehpad.jpeg" alt="" uk-cover="" class="uk-cover" style="height: 338px; width: 450px;">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-text-uppercase uk-text-center uk-h4">Maisons de Retraite / Ehpad</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle uk-first-column">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>S'adapter au changement et à l'institution</li>
                            <li>Favoriser l'autonomie et la prise de décision</li>
                            <li>Vivre et apprécier le moment présent</li>
                            <li>Préserver sa santé et sa vitalité</li>
                            <li>Développer ses capacités cognitives et motrices</li>
                            <li>Gérer la douleur</li>
                            <li>Restaurer une bonne image de soi, conserver un bon schéma corporel</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">
                <div class="uk-card-media-left uk-cover-container uk-first-column">
                    <img src="/img/sante.jpeg" alt="" uk-cover="" class="uk-cover" style="height: 336px; width: 450px;">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-h4 uk-text-uppercase uk-text-center">Etablissements de Santé, Centres de Rééducation</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet">
                            <li>Etre acteur de sa démarche de soin</li>
                            <li>Développer ses capacités d'adaptation</li>
                            <li>Apprendre à gérer son stress et ses émotions</li>
                            <li>Savoir gérer la douleur</li>
                            <li>Se préparer à une intervention médicale</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/ecoles.jpeg" alt="" uk-cover="" class="uk-cover">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-text-uppercase uk-text-center uk-h4">Etablissements Scolaires</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle uk-first-column">
                    <div class="uk-card-body">
                        <h3 class="uk-h3">Pour les élèves&nbsp;:</h3>
                        <ul class="uk-list uk-list-bullet">
                            <li>Avoir une bonne conscience de son schéma corporel</li>
                            <li>Apprendre à gérer le stress</li>
                            <li>Développer ses capacités d'attention et de concentration</li>
                            <li>Gérer et canaliser son énergie</li>
                            <li>Développer ses capacités</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/enseignants.jpg" alt="" uk-cover="" class="uk-cover">
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h2 class="uk-text-uppercase uk-text-center uk-h4">Etablissements Scolaires</h2>
                    </div>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-flex uk-flex-middle uk-first-column">
                    <div class="uk-card-body">
                        <h3 class="uk-h3">Pour les enseignants&nbsp;:</h3>
                        <ul class="uk-list uk-list-bullet">
                            <li>Prendre un temps pour soi, récupérer</li>
                            <li>Gérer le stress et les émotions</li>
                            <li>Apprendre à se détendre</li>
                            <li>Développer ses capacités d'adaptation</li>
                            <li>Retrouver plaisir et motivation</li>
                            <li>Mieux se connaitre pour être en accord avec soi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}