{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="ariane uk-padding-remove">
            <ul class="uk-breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><span>Votre sophrologue</span></li>
            </ul>
        </div>
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Sophie Loosveldt, sophrologue</h1>
            <div class="photo-sophie">
                <img src="/img/sophie-loosveldt.jpeg" class="photo-sophie" alt="">
            </div>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <p>Je suis diplômée de l'Ecole Française de Sophrologie, membre de la Fédération des Ecoles
                            Professionnelles en Sophrologie (FEPS) et dont le titre de sophrologue est inscrit au
                            Répertoire National des Certifications Professionnelles (RNCP), avec un niveau de
                            qualification III reconnu par l'Etat.</p>
                        <p>Après être intervenue pendant 10 ans comme musicothérapeute auprès de personnes en
                            souffrance, j’ai ressenti le besoin d’enrichir mes compétences dans le domaine de la
                            relation d’aide et d’ouvrir mon champ d’activité.</p>
                        <p>La sophrologie m’a permis d’être mieux reliée à mes besoins et aux valeurs qui m’animent, et
                            de choisir le chemin qui est le mien aujourd’hui. J’ai approfondi depuis cette approche par
                            une formation à la Communication Non Violente. Savoir qui l’on est, devenir acteur de son
                            cheminement et de sa vie, c’est cette démarche que je souhaite transmettre aux personnes que
                            j’accompagne.</p>
                        <p>En plus de l'accompagnement que je propose au Cabinet, j'interviens ponctuellement ou régulièrement dans le
                            cadre de structures associatives :</p>
                        <ul class="uk-list uk-list-bullet">
                            <li><a href="http://www.francealzheimer34.org/" target="_blank">France Alzheimer</a>, avec un atelier hebdomadaire à destination des aidants familiaux,
                            </li>
                            <li><a href="http://herault.cidff.info/nos-services/lutte-contre-les-violences/p-54" target="_blank">CIDFF</a>, avec des ateliers mensuels dans le cadre du groupe de parole pour les femmes
                                victimes de violences conjugales.
                            </li>
                            <li><a href="http://www.lejourdapres.org/" target="_blank">Association le Jour d'Après</a>, avec un atelier mensuel proposé dans le cadre de l'accompagnement au retour à l'emploi après une maladie chronique ou un accident</li>
                        </ul>
                        <p>Mes qualités d’écoute, de respect, d’empathie et de bienveillance sont des atouts pour vous
                            accompagner.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Le rôle du sophrologue</h3>

                        <ul class="uk-list uk-list-bullet">
                            <li>Votre sophrologue est un professionnel qualifié.</li>
                            <li>Plus qu'à votre histoire ou à vos difficultés, votre sophrologue va s'intéresser à votre
                                façon actuelle de vivre les choses, à ce que vous ressentez, ce que vous vous dites, ce
                                que vous faites, ce que vous souhaitez.
                            </li>
                            <li>Votre sophrologue partira toujours de l'idée qu'il ne sait pas ce qui est bien pour vous
                                et vous invitera donc en permanence à donner votre avis sur le choix des exercices, la
                                démarche entreprise, votre vécu, les résultats obtenus.
                            </li>
                            <li>C'est une relation d'adulte à adulte, une collaboration basée sur la confiance et la
                                responsabilité de chacun que l'on appelle l'alliance.
                            </li>
                            <li>Ainsi, tout l'art de votre sophrologue sera de vous accompagner avec empathie dans une
                                démarche de découverte, d'entrainement et d'évolution en faisant preuve de rigueur
                                méthodologique mais aussi de créativité.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "footer" . }}