{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Qu'est-ce que la sophrologie ?</h1>
            <ul class="uk-list uk-list-bullet">
                <li>La sophrologie est une discipline du domaine des sciences humaines qui se caractérise par le fait d'être
                    avant tout une pratique. Elle a été créée en 1960 par un neuro-psychiatre espagnol, le Dr Alfonso
                    Caycedo.
                </li>
                <li>Elle s’est tout d'abord développée dans le milieu médical pour s’étendre ensuite aux domaines du sport,
                    de l'entreprise, du développement personnel, du social et de l'éducation.
                </li>
                <li>La sophrologie utilise une méthodologie originale, un ensemble de techniques spécifiques et une
                    pédagogie visant à l'autonomisation.
                </li>
                <li>Sa pratique développe la connaissance de soi et permet de mobiliser les ressources qui existent en
                    chacun dans un objectif d’autonomisation et d'épanouissement.
                </li>
            </ul>
        </header>
        <div class="uk-section-xsmall">
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Définir la sophrologie</h3>
                        <p>La sophrologie est une démarche au cours de laquelle

                            la personne va prendre conscience de ce qui entre en jeu dans sa relation à elle-même, aux
                            autres

                            et aux événements de sa vie,

                            tant au niveau physique, psychique qu’émotionnel.

                            Elle va ainsi développer la connaissance d’elle-même.

                            Et ceci afin de développer ses capacités d’action, d’adaptation et d’évolution dans son
                            quotidien.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Les racines grecques du mot sophrologie</h3>

                        <ul class="uk-list">
                            <li><i>SOS</i>&nbsp;:&nbsp;sérénité, équilibre, harmonie</li>
                            <li><i>PHREN</i>&nbsp;:&nbsp;esprit, conscience</li>
                            <li><i>LOGOS</i>&nbsp;:&nbsp;science, étude, discours</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <h2 class="uk-h2">Méthodologie de la sophrologie</h2>
            <h3 class="uk-h4">La sophrologie associe le corps et le mental dans une pratique composée de relaxations dynamiques et de
                techniques spécifiques</h3>
            <div class="uk-card uk-card-primary uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="/img/home-hero.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Les relaxations dynamiques</h3>
                        <p>Elles sont la base de la méthode sophrologique.</p>
                        <p>Elles s'inspirent des techniques orientales et ont pour objectif de favoriser l'écoute du corps
                            et des sensations, la perception de soi et du monde.</p>
                        <p>Elles se pratiquent en posture assise ou debout et comprennent des phases statiques et des phases
                            en mouvement.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <h3 class="uk-h4">Elle tend par l'entrainement à développer une meilleure connaissance de soi et à renforcer ses ressources pour une existence harmonieuse</h3>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/img/home-hero.jpeg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Les techniques spécifiques</h3>
                        <p>Ces techniques utilisent des exercices de respiration, de relaxation, de concentration et de visualisations positives répondant à des objectifs spécifiques en fonction des besoins de chacun.</p>
                        <p>Elles permettent de mobiliser ses capacités et de nourrir une relation positive à sa temporalité (présent, passé, et futur)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-xsmall">
            <h3 class="uk-h4">Une méthodologie progressive : découverte, conquête, transformation</h3>
            <div class="uk-card uk-card-default uk-card-body">
                <ol>
                    <li>
                        <h3 class="uk-h5">La phase de conquête: Développer la maitrise d'un phénomène</h3>
                        <p>Les exercices et techniques proposées vont permettre de redécouvrir le phénomène comme un enfant, sans rien rechercher, sans à priori. C'est une étape d'expérimentation.</p>
                    </li>
                    <li>
                        <h3 class="uk-h5">La phase de découverte : Prendre conscience d'un  phénomène</h3>
                        <p>Cette phase de conquête va faire appel à de nouveaux exercices pour approfondir sa connaissance du phénomène et en développer la maitrise.</p>
                    </li>
                    <li>
                        <h3 class="uk-h5">La phase de transformation: Intégrer les bénéfices du phénomène</h3>
                        <p>La phase de transformation consiste à intégrer au quotidien les bénéfices d'une bonne conscience et maitrise du phénomène.</p>
                    </li>
                </ol>
            </div>
        </div>
        <div class="uk-alert-warning uk-margin-bottom" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Chaque personne est unique, elle vit et intègre les choses à son rythme et à sa façon. Ce qui compte c'est son cheminement à travers les techniques pratiquées dans l'entrainement.</p>
        </div>
    </div>
</section>


{{ partial "footer" . }}