{{ partial "head" . }}
{{ partial "nav" . }}
<section class="uk-section">
    <div class="uk-container uk-container-small">
        <header class="uk-section-xsmall">
            <h1 class="uk-h1">Tarifs sophrologue</h1>
            <p>Selon votre préférence, votre besoin, votre budget et vos disponibilités, il vous est possible de
                pratiquer la sophrologie en séance individuelle, ou en séance de groupe:</p>
        </header>
        <div class="uk-section-xsmall">
            <h2 class="uk-h2">Les séances individuelles</h2>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Type de séance</th>
                    <th>Durée</th>
                    <th>Tarif Séance</th>
                    <th>Forfait</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Adulte</td>
                    <td>1 heure</td>
                    <td>60 €</td>
                    <td>400 € les 10 séances <sup>*</sup></td>
                </tr>
                <tr>
                    <td>Formule Duo</td>
                    <td>1 heure</td>
                    <td>60 €</td>
                    <td>500 € les 10 séances <sup>*</sup></td>
                </tr>
                <tr>
                    <td>Etudiant, adolescent</td>
                    <td>1 heure</td>
                    <td>40 €</td>
                    <td>350 € les 10 séances <sup>*</sup></td>
                </tr>
                <tr>
                    <td>Enfant (6 à 12 ans)</td>
                    <td>45 min</td>
                    <td>35 €</td>
                    <td>300 € les 10 séances <sup>*</sup></td>
                </tr>
                <tr>
                    <td>Demandeur d'emploi, RSA</td>
                    <td>1 heure</td>
                    <td>35 €</td>
                    <td>-</td>
                </tr>
                </tbody>
                <tfoot>
                    <td colspan="4"><sup>*</sup> possibilité de paiement en plusieurs fois</td>
                </tfoot>
            </table>
            <h2 class="uk-h2">Les séances de groupe</h2>
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>Type de module</th>
                    <th>Durée</th>
                    <th>Tarif Forfait</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Module 12 séances</td>
                    <td>12 x 1h30</td>
                    <td>180 € (soit 15 € la séance)</td>
                </tr>
                <tr>
                    <td>Module 15 séances</td>
                    <td>15 x 1h30</td>
                    <td>225 € (soit 15 € la séance)</td>
                </tr>
                </tbody>
            </table>
            <h2 class="uk-h2">Tarifs entreprises et collectivités</h2>
            <a href="/contact" class="uk-button uk-button-cta">Me contacter</a>
        </div>
    </div>
</section>


{{ partial "footer" . }}