@import "../../node_modules/uikit/dist/css/uikit.min.css";
@import "./imports/variables.css";

html {
    font-family: 'Lato', sans-serif;
}

.top-bar-infos {
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--color-dark-blue);
    color: var(--color-white);

    padding: 1rem 0;
}

.top-bar-infos p {
    margin: 0;
}

.top-bar-infos p:last-of-type {
    margin-top: 1rem;
}

.top-bar-infos span {
    font-style: italic;
    font-size: 1rem;
}

.top-bar-infos__phone {
    background-color: var(--color-yellow);
    display: inline-block;
    border-radius: 5px;
    padding: .3rem 1rem;
    position: relative;
}

.top-bar-infos__phone .uk-icon {
    position: absolute;
    left: -3rem;
}

.top-bar-infos__phone .uk-icon svg {
    fill: yellow;
}

.me-contacter-link {
    outline: 2px solid var(--color-yellow);
    outline-offset: -8px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    font-family: 'Lato', sans-serif;
}

.uk-section {
    background-color: var(--color-blue);
}

@media (min-width: 960px) {
    .uk-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.svg-icon svg {
    fill: var(--color-dark-blue);
}

.ariane ul {
    margin: 1em 0 0 0 !important;
}

.uk-container-small {
    background-color: var(--color-white);
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
}

.uk-h1 {
    margin-top: 1rem;
}

.home-hero {
    height: 90vh;
    background: url("/img/home-hero.jpeg") no-repeat 0 0 / cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}

.home-container {
    margin: 3rem 0;
}

.home-main-content {
    padding-right: 20px;
}

.home-hero__word {
    background-color: var(--color-yellow);
    border-radius: 25px;
    padding: .2rem 1rem;
}

.home-scroll-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3em;
    margin: 0 auto;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    background-color: var(--color-light-blue);
    padding-right: 40px;
    padding-top: 40px;
}

aside .uk-h2 {
    background-color: var(--color-white);
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--color-blue);
}

.uk-button-cta {
    background-color: var(--color-yellow);
}

.to-top {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3rem;
    top: -4rem;
}

.uk-card-primary,
.uk-section-primary {
    background-color: var(--color-dark-blue);
}

.uk-section-primary-light {
    background-color: var(--color-light-blue);
}

.uk-section-secondary,
.uk-card-secondary {
    background-color: var(--color-yellow);
}

.uk-label {
    margin: 0 .4rem;
}

.uk-card-primary .uk-alert-primary {
    color: #000;
}

.photo-sophie {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.photo-sophie img {
    width: 100%;
    height: 100%;
}

.g-logo {
    width: 200px;
    position: absolute;
    top: -60px;
    left: 1rem;
}

.uk-navbar-container {
    background-color: var(--color-white) !important;
}

.g-footer {
    position: relative;
    padding-top: 3rem;
    height: 300px;
    background-color: var(--color-dark-blue);
}

.g-footer h2 {
    color: var(--color-white);
}

.u-italic {
    font-style: italic;
}

#map {
    height: 100%;
}
