{{ partial "head" . }}


{{ partial "nav" . }}

<div uk-slideshow="animation: push" autoplay="true" autoplay-interval="3500" pause-on-hover="false" max-height="450">
    <div class="uk-position-relative uk-visible-toggle uk-light" id="carousel">
        <ul class="uk-slideshow-items">
            <li>
                <img src="img/home-hero.jpg" alt="Femme sur la plage" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Prévenir et gérer le stress</h3>
                </div>
            </li>
            <li>
                <img src="img/mature-woman.jpg" alt="femme d'âge mur" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Mieux vivre les étapes de sa vie</h3>
                </div>
            </li>
            <li>
                <img src="img/jeune-etudiant.jpg" alt="étudiant" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Préparer les examens</h3>
                </div>
            </li>
            <li>
                <img src="img/depression.jpg" alt="femme déprimée" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Prévenir le burn-out</h3>
                </div>
            </li>
            <li>
                <img src="img/couple-femme-enceinte-2.jpg" alt="femme enceint" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Bien vivre la maternité</h3>
                </div>
            </li>
            <li>
                <img src="img/care.jpg" alt="personne agée" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Accompagner la maladie</h3>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-dotnav uk-flex-center uk-margin">
        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
        <li uk-slideshow-item="4"><a href="#">Item 5</a></li>
        <li uk-slideshow-item="5"><a href="#">Item 6</a></li>
    </ul>

</div>
<div class="uk-container uk-container-expand home-container">
    <div uk-grid>
        <main class="uk-width-3-5@m home-main-content" id="scroll_to_1">
            <h1 class="uk-h1">Cabinet de sophrologie Montpellier Arceaux</h1>
            <p>Installée au coeur du Centre Médical Citymed, au sein d'une équipe pluridisciplinaire, Sophie Loosveldt,
                Sophrologue, vous propose une approche sérieuse, adaptée à vos besoins, pour améliorer votre qualité de
                vie.</p>
            <p>"Découvrir la Sophrologie, c'est commencer à porter un regard différent sur la vie, plus vaste, plus
                positif, plus serein..."</p>

            {{ partial "home-main" . }}
        </main>
        <aside class="uk-width-2-5@m">
            <div class="actualites">
                <h2 class="uk-h2"><span uk-icon="icon: calendar; ratio: 2;"></span> Actualités</h2>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom">
                    <p>A partir du mois de mars 2018</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Séances de Méditation guidée, le lundi de 12h30 à 13h30</li>
                        <li>Atelier Equilibre Général et Gestion du Stress, le jeudi de 10h à 11h30 et le mardi de 18h à 19h30</li>
                    </ul>

                    <a href="/atelier-sophrologie-groupe/index.html" class="uk-button uk-button-cta">Découvrir les ateliers</a>
                </div>
            </div>
            {{ partial "blog" . }}
        </aside>
    </div>
</div>
{{ partial "footer" . }}