{{ partial "head" . }}

{{ partial "nav" . }}
<div class="home-hero">
    <span class="home-hero__word">Prévenir et gérer le stress</span>
    <span class="home-hero__word">Mieux vivre les étapes de sa vie</span>
    <span class="home-hero__word">Préparer les examens</span>
    <span class="home-hero__word">Prévenir le burn-out</span>
    <span class="home-hero__word">Bien vivre la matérnité</span>
    <span class="home-hero__word">Accompagner la maladie</span>
    <a href="#scroll_to_1" class="home-scroll-icon" uk-scroll><span uk-icon="icon: arrow-down; ratio: 2"></span></a>
</div>

{{ partial "blog" . }}

{{ partial "footer" . }}
