{{ partial "head" . }}

{{ partial "nav" . }}
<div class="home-accroche uk-background-secondary">
    <p class="uk-text-center uk-text-lead uk-text-uppercase uk-margin-remove uk-padding-small">Mieux se connaitre et <span class="uk-display-block">développer ses ressources</span></p>
</div>
<div uk-slideshow="animation: push" autoplay="true" autoplay-interval="3500" pause-on-hover="false" max-height="455">
    <div class="uk-position-relative uk-visible-toggle uk-light" id="carousel">
        <ul class="uk-slideshow-items">
            <li>
                <img src="img/home-hero.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Prévenir et gérer le stress</h3>
                </div>
            </li>
            <li>
                <img src="img/mature-woman.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Mieux vivre les étapes de sa vie</h3>
                </div>
            </li>
            <li>
                <img src="img/student.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Préparer les examens</h3>
                </div>
            </li>
            <li>
                <img src="img/depression.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Prévenir le burn-out</h3>
                </div>
            </li>
            <li>
                <img src="img/maternite.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Bien vivre la maternité</h3>
                </div>
            </li>
            <li>
                <img src="img/care.jpeg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Accompagner la maladie</h3>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-dotnav uk-flex-center uk-margin">
        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
        <li uk-slideshow-item="4"><a href="#">Item 5</a></li>
        <li uk-slideshow-item="5"><a href="#">Item 6</a></li>
    </ul>

</div>
<div class="uk-container uk-container-expand home-container">
    <div uk-grid>
        <main class="uk-width-3-5@m home-main-content" id="scroll_to_1">
            {{ partial "short-text" .Params.intro}}

            {{ partial "home-main" . }}
        </main>
        <aside class="uk-width-2-5@m">
            {{ partial "blog" . }}
        </aside>
    </div>
</div>
{{ partial "footer" . }}